#background {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

#red-dot {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 5%;
}

#green-bars {
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.green-bar {
    width: 5px;
    height: 20px;
    background-color: green;
}
